:root {
  --color-prestige-blue: #2f3542;
  --color-orange: #ffa502;
  --color-anti-flash-white: #f1f2f6;
  --color-city-lights: #dfe4ea;
  --color-peace: #a4b0be;
  --color-bay-wharf: #747d8c;
  --color-bruschetta-tomato: #ff6348;
}